
.vertical-center {
    width: 50%;
    height: inherit;
    margin: 0 auto;
}

footer{
    text-align:center;
}


.footer-contact{
    padding:5px;
}
.footer-contact p {
    float: left;
    display: block;
}

.footer-contact a{
    float: left;
    display: block;
}

.addres {
    color: white;
    margin: 20px 0 20px 0;
    
}


address {
    color: rgb(19, 46, 69);
    font-size: xx-large;
    text-decoration: none;
    width: 30%;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .vertical-center{
        width: 100%;
        margin:0;
    }

    address{
        padding-left:0;
    }
}