
.vertical-center {
    width: 50%;
    height: inherit;
    margin: 0 auto;
}

farm-content {
    font-size: 42px;
    color: white;
}

.meal-date {
    color: white;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    text-align: right;
}

footer{
    text-align:center;
}


.footer-contact{
    padding:5px;
}
.footer-contact p {
    float: left;
    display: block;
}

.footer-contact a{
    float: left;
    display: block;
}

.addres {
    color: white;
    margin: 20px 0 20px 0;
}


address {
    color: rgb(19, 46, 69);
    font-size: xx-large;
    text-decoration: none;
    width: 50%;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}

#mapa {
    height: 300px;
    /* The height is 400 pixels */
    width: 40%;
    /* The width is the width of the web page */
    margin-left:50px;
    margin-top: 70px;
}



@media screen and (max-width: 900px) {
    .vertical-center{
        width: 100%;
        margin:0;
    }

    address {
        padding-left: 0;
        margin: 0;
        width: 100%;
        font-size: x-large;
    }

    #mapa {
        height: 300px;
        /* The height is 400 pixels */
        width: 70%;
        /* The width is the width of the web page */
    }
    .meal-date {
        font-size: 18px;
    }
}