
.topnav {
    background-color: rgb(19, 46, 69);
    padding:inherit;
    height: 65px;
    margin:20px 0 10px 0;
}

.topnav a {
        float:left;
        display: block;
        text-align: center;
        padding: 15px 30px;
        text-decoration: none;
        font-size: 25px;
        color:white;
}

.topnav a:hover {
        background-color: rgb(162, 126, 14);
        color: white;
        text-decoration: none;
}

.activeLink.active{
    color:aqua;
}

.topnav a.active {
        background-color: #4CAF50;
        color: rgb(162, 126, 14);
}

.top-hr {
    border: 2px solid rgb(19, 46, 69);
    border-radius: 5px;
}

.bg-img {

    /* The image used */
    background-image: url("../Images1/UvodniFotka.png");
    /* Center and scale the image nicely */
    height:300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */

}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width:100%;
    margin:0;
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
        padding-top: 60px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .topnav a {
        padding: 15px 10px;
    }
}


    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 900px) {
        .topnav {
            padding-left: 0;
            height: auto;
        }

        #logo {
            display: none;
        }

        .nav-name {
            display: none;
        }

        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }
    }


    .nav-name {
        float: right;
        color: white;
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 800px) {
        .topnav.responsive {
            background-color: rgb(19, 46, 69);
            position: relative;
        }

            .topnav.responsive a.icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

        .topnav a:hover {
            background-color: rgb(162, 126, 14);
            color: white;
            text-decoration: none;
        }
    }


    /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally *