.changeColor:hover{
    fill:red;
}

.meal-table {
    text-align: center;
    width: 55%;
    overflow: hidden;
    height:auto;
    color:white;
}

.meal-offer{
    color: white;
    font-size: 24px;
    text-align: center;
    border: 2px solid;
}

.offer-info{
    padding-top: 18px;
    
}
.offer-info div {
   text-align:center;
}
.offer-info a {
    color: white;
}

.offer-info a:hover{
   text-decoration:none;
}

.item {
    padding-bottom: 20px;
}

.caw-side {
    float: left;
    width: 35%;
    overflow: hidden;
    height:auto;
}

.offer {
    width: 30%;
    height: inherit;
    margin: 0 auto;
}

.table-package{
    width: 100%;
    text-align:center;
    color:white;
}

.table-offer {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    border-color: rgb(19, 46, 69);
    border:2px;
}
.table-offer th {
    text-align: center;
    color: rgb(19, 46, 69);
}

.table-offer td {
     border-color: rgb(19, 46, 69);
}

.table-package th {
    text-align: center;
}

.table-package tr {
    border-bottom: 2px solid rgb(19, 46, 69);

}

span {
    font-size: large;
}

@media screen and (max-width: 800px) {
    .offer {
        width: 100%;
        height: inherit;
        text-align:center;
    }

    .table-package {
        width: 100%;
        text-align: center;
        color: white;
    }

    .meal-table {
        width: 100%;
        height: auto;
    }

    .caw-side {
        float: none ;
        width: 100%;
    }

    .item {
        text-align: center;
    }
}
