<footer class="page-footer font-small cyan darken-3">
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center ">

                    <span>Bio porážka <img src="~/Images1/Biozebra-1.jpg" width="50" height="50" alt="Bio porážka"></span>
                    <span>CZ-BIO-001 <img src="~/Images1/Biolist.jpg" width="50" height="50" alt="CZ-BIO-001"></span>

                    <a href='@Url.Action("Contact", "Home")' class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-phone-alt"></span> Kontakt
                    </a>

                    <a class="btn btn-info btn-lg" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Farma-Vojovice-101344071927510"><span class="fa fa-facebook-official" style="font-size:20px"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 " style="margin-top:5px;">
        <p>Všechna práva vyhrazena &copy; Farma Vojovice 1993 / @DateTime.Now.Year – Made by Venouš</p>
    </div>

</footer>
