@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="row">
        <address>
            <abbr title="Adresa"> Adresa: </abbr>
            <p class="addres">
                Vojovice 6 <br />
                Nepomuk 33501
            </p>
            <abbr title="Telefon">Mobil:</abbr>
            <p class="addres"> +420 608 254 804 </p>
            <abbr title="E-mail">E-mail:</abbr>
            <p class="addres">
                milan.skala@farmavojovice.cz<br />
                objednavky@farmavojovice.cz<br />
            </p>
        </address>
        <address>
            <abbr>Najdete nás:</abbr>
            <p class="addres"><a href="https://www.facebook.com/mil.skala">Facebook</a></p>

        </address>
       <!-- <div id="map"></div> !-->
    </div>
</div>

