
<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6" style="position:static">
            <address>
                <p class="addres">
                    Ing. Milan Skala<br />
                    Vojovice 6 <br />
                    Nepomuk 33501
                </p>
                <p class="addres">
                    +420 608 254 804 <br />
                    prodej@farmavojovice.cz<br />
                </p>
                <abbr>
                    IČ: 05857601 <br />
                    DIČ: 9211132040
                </abbr>
            </address>
            <address>
                <abbr>Najdete nás:</abbr>
                <p class="addres">
                    <a class="btn btn-info btn-lg" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Farma-Vojovice-101344071927510"><span class="fa fa-facebook-official" style="font-size:30px"></span></a>
                </p>
            </address>
        </div>

        <div id="mapa" class="col-lg-6"></div>
    </div>
</div>

<script src="https://api.mapy.cz/loader.js"></script>
<script>Loader.load()</script>
@Scripts.Render("~/Scripts/MapsScript.js")
