
<h2>@ViewBag.Title.</h2>

<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Všechny fotografie</button>
    <button class="btn" onclick="filterSelection('animals')"> Dobytek </button>
    <button class="btn" onclick="filterSelection('house')"> Bourárna </button>
    <button class="btn" onclick="filterSelection('meal')"> Maso </button>
</div>

<!-- Images used to open the lightbox -->
<div class="container">
    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_5855.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow" height="250" width="350" alt="Foto1">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_5857.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow" height="250" width="350" alt="Foto2">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_5885.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow" height="250" width="350" alt="Foto3">
        </div>
    </div>
    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_5920.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow" height="250" width="350" alt="Foto4">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_5942.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow" height="250" width="350" alt="Foto5">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_5999.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow" height="250" width="350" alt="Foto6">
        </div>
    </div>

    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6000.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow" height="250" width="350" alt="Foto7">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_5985.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow" height="250" width="350" alt="Foto8">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6021.jpg" onclick="openModal();currentSlide(9)" class="hover-shadow" height="250" width="350" alt="Foto9">
        </div>
    </div>

    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6031.jpg" onclick="openModal();currentSlide(10)" class="hover-shadow" height="250" width="350" alt="Foto10">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6040.jpg" onclick="openModal();currentSlide(11)" class="hover-shadow" height="250" width="350" alt="Foto11">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/tele_1.jpg" onclick="openModal();currentSlide(12)" class="hover-shadow" height="250" width="350" alt="Foto12">
        </div>
    </div>

    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6008.jpg" onclick="openModal();currentSlide(13)" class="hover-shadow" height="250" width="350" alt="Foto13">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6050.jpg" onclick="openModal();currentSlide(14)" class="hover-shadow" height="250" width="350" alt="Foto14">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6062.jpg" onclick="openModal();currentSlide(15)" class="hover-shadow" height="250" width="350" alt="Foto15">
        </div>
    </div>

    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6063.jpg" onclick="openModal();currentSlide(16)" class="hover-shadow" height="250" width="350" alt="Foto16">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6073.jpg" onclick="openModal();currentSlide(17)" class="hover-shadow" height="250" width="350" alt="Foto17">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6075.jpg" onclick="openModal();currentSlide(18)" class="hover-shadow" height="250" width="350" alt="Foto18">
        </div>
    </div>

    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6234.jpg" onclick="openModal();currentSlide(19)" class="hover-shadow" height="250" width="350" alt="Foto19">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6132.jpg" onclick="openModal();currentSlide(20)" class="hover-shadow" height="250" width="350" alt="Foto20">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6165.jpg" onclick="openModal();currentSlide(21)" class="hover-shadow" height="250" width="350" alt="Foto21">
        </div>
    </div>

    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6188.jpg" onclick="openModal();currentSlide(22)" class="hover-shadow" height="250" width="350" alt="Foto22">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6206.jpg" onclick="openModal();currentSlide(23)" class="hover-shadow" height="250" width="350" alt="Foto23">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6235.jpg" onclick="openModal();currentSlide(24)" class="hover-shadow" height="250" width="350" alt="Foto34">
        </div>
    </div>

    <div class="row">
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6266.jpg" onclick="openModal();currentSlide(25)" class="hover-shadow" height="250" width="350" alt="Foto25">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6314.jpg" onclick="openModal();currentSlide(26)" class="hover-shadow" height="250" width="350" alt="Foto26">
        </div>
        <div class="column animals">
            <img src="~/Images1/Galerie/KON_COM/KON_6330.jpg" onclick="openModal();currentSlide(27)" class="hover-shadow" height="250" width="350" alt="Foto27">
        </div>
    </div>
    <div class="row">
        <div class="column house">
            <img src="~/Images1/Galerie/Bourarna_mrazaky_1.jpg" onclick="openModal();currentSlide(28)" class="hover-shadow" height="300" width="350" alt="Foto28">
        </div>
        <div class="column house">
            <img src="~/Images1/Galerie/Bourarna_stoly_1.jpg" onclick="openModal();currentSlide(29)" class="hover-shadow" height="300" width="350" alt="Foto29">
        </div>
        <div class="column house">
            <img src="~/Images1/Galerie/Bourarna_stul_1.jpg" onclick="openModal();currentSlide(30)" class="hover-shadow" height="300" width="350" alt="Foto30">
        </div>
    </div>

    <div class="row">
        <div class="column house">
            <img src="~/Images1/Info/Bourarna.jpg" onclick="openModal();currentSlide(31)" class="hover-shadow" height="300" width="350" alt="Foto31">
        </div>
        <div class="column house">
            <img src="~/Images1/Info/MasoBourarna_1.jpg" onclick="openModal();currentSlide(32)" class="hover-shadow" height="300" width="350" alt="Foto32">
        </div>
        <div class="column meal">
            <img src="~/Images1/Info/balicek.jpg" onclick="openModal();currentSlide(33)" class="hover-shadow" height="300" width="350" alt="Foto33">
        </div>
    </div>

    <div class="row">
        <div class="column meal">
            <img src="~/Images1/Galerie/IMG_3694.jpg" onclick="openModal();currentSlide(34)" class="hover-shadow" height="300" width="350" alt="Foto34">
        </div>
        <div class="column meal">
            <img src="~/Images1/Galerie/IMG_3698.jpg" onclick="openModal();currentSlide(35)" class="hover-shadow" height="300" width="350" alt="Foto35">
        </div>
        <div class="column meal">
            <img src="~/Images1/Galerie/Rostenec_1.jpg" onclick="openModal();currentSlide(36)" class="hover-shadow" height="300" width="350" alt="Foto36">
        </div>
    </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">

    <span class="close cursor" onclick="closeModal()" style="color:white; font-size:55px">&times;</span>

    <div class="modal-content">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <div class="mySlides">
            <div class="numbertext">1 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_5855.jpg" style="width:100%" alt="Foto1">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_5857.jpg" style="width:100%" alt="Foto2">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_5885.jpg" style="width:100%" alt="Foto3">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_5920.jpg" style="width:100%" alt="Foto4">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_5942.jpg" style="width:100%" alt="Foto5">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_5999.jpg" style="width:100%" alt="Foto6">
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6000.jpg" style="width:100%" alt="Foto7">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_5985.jpg" style="width:100%" alt="Foto8">
        </div>

        <div class="mySlides">
            <div class="numbertext">9 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6021.jpg" style="width:100%" alt="Foto9">
        </div>

        <div class="mySlides">
            <div class="numbertext">10 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6031.jpg" style="width:100%" alt="Foto10">
        </div>

        <div class="mySlides">
            <div class="numbertext">11 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6040.jpg" style="width:100%" alt="Foto11">
        </div>

        <div class="mySlides">
            <div class="numbertext">12 / 36</div>
            <img src="~/Images1/Galerie/tele_1.jpg" style="width:100%" alt="Foto12">
        </div>

        <div class="mySlides">
            <div class="numbertext">13 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6008.jpg" style="width:100%" alt="Foto13">
        </div>

        <div class="mySlides">
            <div class="numbertext">14 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6050.jpg" style="width:100%" alt="Foto14">
        </div>

        <div class="mySlides">
            <div class="numbertext">15 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6062.jpg" style="width:100%" alt="Foto15">
        </div>

        <div class="mySlides">
            <div class="numbertext">16 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6063.jpg" style="width:100%" alt="Foto16">
        </div>

        <div class="mySlides">
            <div class="numbertext">17 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6073.jpg" style="width:100%" alt="Foto17">
        </div>

        <div class="mySlides">
            <div class="numbertext">18 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6075.jpg" style="width:100%" alt="Foto18">
        </div>

        <div class="mySlides">
            <div class="numbertext">19 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6234.jpg" style="width:100%" alt="Foto19">
        </div>

        <div class="mySlides">
            <div class="numbertext">20 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6132.jpg" style="width:100%" alt="Foto20">
        </div>

        <div class="mySlides">
            <div class="numbertext">21 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6165.jpg" style="width:100%" alt="Foto21">
        </div>

        <div class="mySlides">
            <div class="numbertext">22 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6188.jpg" style="width:100%" alt="Foto22">
        </div>

        <div class="mySlides">
            <div class="numbertext">23 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6206.jpg" style="width:100%" alt="Foto23">
        </div>

        <div class="mySlides">
            <div class="numbertext">24 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6235.jpg" style="width:100%" alt="Foto24">
        </div>

        <div class="mySlides">
            <div class="numbertext">25 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6266.jpg" style="width:100%" alt="Foto25">
        </div>

        <div class="mySlides">
            <div class="numbertext">26 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6314.jpg" style="width:100%" alt="Foto26">
        </div>

        <div class="mySlides">
            <div class="numbertext">27 / 36</div>
            <img src="~/Images1/Galerie/KON/KON_6330.jpg" style="width:100%" alt="Foto27">
        </div>

        <div class="mySlides">
            <div class="numbertext">28 / 36</div>
            <img src="~/Images1/Galerie/Bourarna_mrazaky_1.jpg" style="width:100%" alt="Foto28">
        </div>
        <div class="mySlides">
            <div class="numbertext">29 / 36</div>
            <img src="~/Images1/Galerie/Bourarna_stoly_1.jpg" style="width:100%" alt="Foto29">
        </div>

        <div class="mySlides">
            <div class="numbertext">30 / 36</div>
            <img src="~/Images1/Galerie/Bourarna_stul_1.jpg" style="width:100%" alt="Foto30">
        </div>

        <div class="mySlides">
            <div class="numbertext">31 / 36</div>
            <img src="~/Images1/Info/Bourarna.jpg" style="width:50%; margin-left:25%;" alt="Foto31">
        </div>

        <div class="mySlides">
            <div class="numbertext">32 / 36</div>
            <img src="~/Images1/Info/MasoBourarna_1.jpg" style="width:50%; margin-left:25%;" alt="Foto32">
        </div>

        <div class="mySlides">
            <div class="numbertext">33 / 36</div>
            <img src="~/Images1/Info/balicek.jpg" style="width:100%" alt="Foto33">
        </div>

        <div class="mySlides">
            <div class="numbertext">34 / 36</div>
            <img src="~/Images1/Galerie/IMG_3694.jpg" style="width:50%; margin-left:25%;" alt="Foto34">
        </div>

        <div class="mySlides">
            <div class="numbertext">35 / 36</div>
            <img src="~/Images1/Galerie/IMG_3698.jpg" style="width:50%; margin-left:25%;" alt="Foto35">
        </div>
        <div class="mySlides">
            <div class="numbertext">36 / 36</div>
            <img src="~/Images1/Galerie/Rostenec_1.jpg" style="width:50%; margin-left:25%;" alt="Foto36">
        </div>

        <!-- Next/previous controls -->

        <a class="next" onclick="plusSlides(1)">&#10095;</a>


        <!-- Thumbnail image controls
    <div class="column">
        <img class="demo" src="~/Images1/Galerie/Krava1.jpg" onclick="currentSlide(1)" alt="Nature" height="150" width="150">
    </div>

    <div class="column">
        <img class="demo" src="~/Images1/Galerie/Krava2.jpg" onclick="currentSlide(2)" alt="Snow" height="150" width="150">
    </div>

    <div class="column">
        <img class="demo" src="~/Images1/Galerie/Krava3.jpg" onclick="currentSlide(3)" alt="Mountains" height="150" width="150">
    </div>

    <div class="column">
        <img class="demo" src="~/Images1/Galerie/Krava4.jpg" onclick="currentSlide(4)" alt="Lights" height="150" width="150">
    </div>-->
    </div>
</div>

@Scripts.Render("~/Scripts/gallery-script.js")