

<h2>@ViewBag.Title.</h2>
    <div class="row">
        <p class="col-md-5" style="font-size:36px;color:white;position:static">@ViewBag.FirstPar</p>
        <div class="col-md-7" style="position:static;height:400px;background-size: cover;background-image:url('../../../Images1/Galerie/KON_COM/KON_6021.jpg');"></div>
    </div>
    <div class="row">
        <div class="col-md-4" style="position:static;height:400px;background-size: cover; background-image:url('../../../Images1/Info/KON_TEXT_1.jpeg');"></div>
        <p class="col-md-8" style="font-size:30px;color:white;position:static;">@ViewBag.SecondPar</p>
        <div class="col-md-8" style="position:static;height:400px;background-size: cover; background-image:url('../../../Images1/Galerie/KON_COM/KON_5942.jpg');"></div>
    </div>
    <div class="row">/
        <p class="col-md-9" style="font-size:30px;color:white;position:static;">@ViewBag.ThirdPar</p>
        <div class="col-md-3" style="position:static;height:400px;background-size: cover; background-image:url('../../../Images1/Info/krava_par3_2_u.jpg');"></div>
        
    </div>
