@{
    ViewBag.Title = "Naše Farma";
}

<h2>@ViewBag.Title.</h2>
<div class="container">
   <h1>Děkujeme na návštěvu našich stránek.</h1>
    <h1>Aktuálně probíhá příprava nového webu, na který se můžete těšit již brzy</h1>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}