

<h2>Zrání masa</h2>
<div class="container">
    <div class="row">
        <p class="col-md-8" style="font-size:24px;color:white;position:static">@ViewBag.Message</p>
        <div class="col-md-3" style="position:static;height:300px;background-size: cover; background-image:url('../../../Images1/Info/Bourarna.jpg');"></div>
    </div>
</div>

