

<h2>Zrání masa.</h2>
    <div class="row">
        <p class="col-md-9" style="font-size:30px;color:white;position:static">@ViewBag.Message</p>
        <div class="col-md-3" style="position:static;height:400px;background-size: cover; background-image:url('../../../Images1/Info/MasoBourarna_1.jpg');"></div>
    </div>

