@{
    ViewBag.Title = "Naše nabídka";
}

<div class="container">
    <h1 class="offer">@ViewBag.Message</h1>
    <div class="row">
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso1.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso2.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso3.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso3.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso3.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso2.jpg" width="150" height="150" alt="Logo"></div>
    </div>
    <hr class="top-hr" />
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <table class="table table-package">
                    <thead>
                        <tr>
                            <th>Maso</th>
                            <th>Cast kravy</th>
                            <th>Doba zrani</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jazyk</td>
                            <td>Hlava</td>
                            <td>8 tydnu</td>
                        </tr>
                        <tr>
                            <td>Srdce</td>
                            <td>Telo</td>
                            <td>18 tydnu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 caw-side">
                @Html.Partial("../Offer/_SVGCaw")
            </div>
            <div class="col-lg-4">
                <p>Balicek je k jidlu, </p>
            </div>
        </div>
    </div>
</div>