<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <img src="~/Images1/Maso1.jpg" width="300" height="300" alt="Maso">
        </div>
        <div class="col-lg-7">
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
             </table>
</div>
    </div>
</div>