@{
    ViewBag.Title = "Naše nabídka";
}

<div class="container">
    <h1 class="offer">@ViewBag.Message</h1>
    <div class="row">
        <div>
            <div class="col-lg-4" style="position:static">
                <table class="table table-package">
                    <thead>
                        <tr>
                            <th>Maso</th>
                            <th>Cast kravy</th>
                            <th>Doba zrani</th>
                            <th>Hmotnost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jazyk</td>
                            <td>Hlava</td>
                            <td>8 tydnu</td>
                            <td>1,5 Kg</td>
                        </tr>
                        <tr>
                            <td>Srdce</td>
                            <td>Telo</td>
                            <td>18 tydnu</td>
                            <td>3,5 Kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 caw-side" style="position:static">
                @Html.Partial("../Offer/_SVGCaw")
            </div>
            <div class="col-lg-4" style="position:static">
                <p>Balíček xzy má celkovou velikost okolo 5 Kg. Cena a velikost jsou pouze orientační a můžou se měnit
                v závislosti na velikosti jednotlivých kusů masa.  </p>
            </div>
        </div>
    </div>
    <hr class="top-hr" />
    <div class="row">
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso1.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso2.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso3.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso3.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso3.jpg" width="150" height="150" alt="Logo"></div>
        <div class="col-sm-2 item" style="position:static"><img src="~/Images1/Maso2.jpg" width="150" height="150" alt="Logo"></div>
    </div>

</div>