<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet"
     viewBox="0 0 640 640" width="440" height="240">
    <defs>
        <path d="M301.2 52.94C308.86 52.94 315.06 59.14 315.06 66.8C315.06 90.32 315.06 147.02 315.06 170.54C315.06 178.19 308.86 184.4 301.2 184.4C259.5 184.4 148.23 184.4 106.53 184.4C98.88 184.4 92.67 178.19 92.67 170.54C92.67 147.02 92.67 90.32 92.67 66.8C92.67 59.14 98.88 52.94 106.53 52.94C148.23 52.94 259.5 52.94 301.2 52.94Z" id="f3OFmIb6Ad"></path>
        
            <path d="M95.41 184.4L135.41 184.4L135.41 224.4L95.41 224.4L95.41 184.4Z" id="d3rgVsjsT"></path>
            <path d="M270.35 184.4L310.35 184.4L310.35 224.4L270.35 224.4L270.35 184.4Z" id="a37PEfwq9B"></path>
            <path d="M94.53 2.53C100.06 2.53 104.53 7.01 104.53 12.53C104.53 20.62 104.53 34.86 104.53 42.94C104.53 48.46 100.06 52.94 94.53 52.94C76.37 52.94 31.88 52.94 13.72 52.94C8.2 52.94 3.72 48.46 3.72 42.94C3.72 34.86 3.72 20.62 3.72 12.53C3.72 7.01 8.2 2.53 13.72 2.53C31.88 2.53 76.37 2.53 94.53 2.53Z" id="bh4wV4zVy"></path>
            <path d="M331.86 73.2C331.86 78.39 328.1 82.59 323.46 82.59C318.82 82.59 315.06 78.39 315.06 73.2C315.06 68.02 318.82 63.81 323.46 63.81C328.1 63.81 331.86 68.02 331.86 73.2Z" id="d15ljOCSio"></path>
            <path d="M341.86 83.2C341.86 88.39 338.1 92.59 333.46 92.59C328.82 92.59 325.06 88.39 325.06 83.2C325.06 78.02 328.82 73.81 333.46 73.81C338.1 73.81 341.86 78.02 341.86 83.2Z" id="a17HEWklVi"></path>
            <path d="M351.86 93.2C351.86 98.39 348.1 102.59 343.46 102.59C338.82 102.59 335.06 98.39 335.06 93.2C335.06 88.02 338.82 83.81 343.46 83.81C348.1 83.81 351.86 88.02 351.86 93.2Z" id="b16ptxZpI"></path>
            <path d="M361.86 103.2C361.86 108.39 358.1 112.59 353.46 112.59C348.82 112.59 345.06 108.39 345.06 103.2C345.06 98.02 348.82 93.81 353.46 93.81C358.1 93.81 361.86 98.02 361.86 103.2Z" id="awtFTmzdL"></path>
            <path d="M371.86 113.2C371.86 118.39 368.1 122.59 363.46 122.59C358.82 122.59 355.06 118.39 355.06 113.2C355.06 108.02 358.82 103.81 363.46 103.81C368.1 103.81 371.86 108.02 371.86 113.2Z" id="cHFMxNiJ6"></path>
            <path d="M381.86 123.2C381.86 128.39 378.1 132.59 373.46 132.59C368.82 132.59 365.06 128.39 365.06 123.2C365.06 118.02 368.82 113.81 373.46 113.81C378.1 113.81 381.86 118.02 381.86 123.2Z" id="b18i7tSKOM"></path>
            <path d="M391.86 133.2C391.86 138.39 388.1 142.59 383.46 142.59C378.82 142.59 375.06 138.39 375.06 133.2C375.06 128.02 378.82 123.81 383.46 123.81C388.1 123.81 391.86 128.02 391.86 133.2Z" id="h4SA9hWUK"></path>
            <path d="M95.41 55.17L135.41 55.17L135.41 133.2L95.41 133.2L95.41 55.17Z" id="b2yBE9CT8u"></path>
            <path d="M139.02 55.17L179.02 55.17L179.02 133.2L139.02 133.2L139.02 55.17Z" id="a1wBPPR42o"></path>
            <path d="M182.63 55.17L222.63 55.17L222.63 133.2L182.63 133.2L182.63 55.17Z" id="b1XOtGKSbr"></path>
            <path d="M226.22 55.17L266.22 55.17L266.22 133.2L226.22 133.2L226.22 55.17Z" id="c1dzjPVyvx"></path>
            <path d="M270.35 55.17L310.35 55.17L310.35 133.2L270.35 133.2L270.35 55.17Z" id="afKwNt3f2"></path>
            <path d="M96.66 135.56L203.87 135.56L203.87 175.56L96.66 175.56L96.66 135.56Z" id="f290aubWSp"></path>
            <path d="M209.87 136.78L301.26 136.78L301.26 155.56L209.87 155.56L209.87 136.78Z" id="dksFA3fI"></path>
            
</defs>
    <g>
        <g>
            <g>
                <use xlink:href="#f3OFmIb6Ad" opacity="1" fill="white" fill-opacity="1"></use>
            </g>
            <a xlink:href='@Url.Action("Contact", "Home")'>
                <g class="changeColor"><use xlink:href="#d3rgVsjsT" opacity="1" fill-opacity="1"></use></g>
            </a>
                <g class="changeColor"><use xlink:href="#a37PEfwq9B" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#bh4wV4zVy" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#d15ljOCSio" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#a17HEWklVi" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#b16ptxZpI" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#awtFTmzdL" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#cHFMxNiJ6" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#b18i7tSKOM" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#h4SA9hWUK" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#b2yBE9CT8u" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#a1wBPPR42o" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#b1XOtGKSbr" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#c1dzjPVyvx" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#afKwNt3f2" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#f290aubWSp" opacity="1" fill-opacity="1"></use></g>
                <g class="changeColor"><use xlink:href="#dksFA3fI" opacity="1" fill-opacity="1"></use></g>
</g>
    </g>
</svg>